.trend__sidebar {
  .p-sidebar {
    &-header,
    &-footer {
      display: none !important;
    }

    &-content {
      padding: 1rem !important;
      height: 100%;
    }
  }

  @media screen and (min-width: 768px) {
    min-width: 30rem !important;
    border-top-left-radius: 2rem;
    border: none;
    box-shadow: -1px 1px 20px 0px rgba(0, 0, 0, 0.12);

    .p-sidebar {
      &-content {
        padding: 2.5rem 2.5rem 1.25rem 2.5rem !important;
      }
    }
  }
}
