* {
  box-sizing: border-box;
  font-family: $font-family;
}

html,
body {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img,
button {
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.app-button {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0.125rem;
  font-size: 0.875rem;
  text-decoration: none;
  color: $font-color-dark;
  min-height: 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:active {
    transform: scale(0.95);
  }

  &:hover {
    cursor: pointer;
  }

  &.app-button--primary {
    color: $font-color-light;
    background-color: $primary;

    &:hover {
      background-color: $primary-accent;
    }
  }

  &.app-button--primary-light {
    color: $font-color-light;
    background-color: $primary-light;

    &:hover {
      background-color: $primary;

      img {
        filter: brightness(100);
      }
    }

    width: 3.25rem;
    height: 3.25rem;
    border-radius: 2rem;
    border: none;
  }

  &.app-button--secondary {
    color: $font-color-secondary;
    background-color: transparent;

    &:hover {
      color: $font-color-dark;
    }
  }

  &.app-button--floating {
    position: absolute;
    right: calc(50% - 1.5rem);
    bottom: 1.5rem;
    z-index: 1;
    width: 3rem;
    height: 3rem;
    border-radius: 4.5rem;
    filter: drop-shadow(0px 6px 20px rgba(241, 95, 65, 0.6));

    img {
      width: 1.5rem;
      height: auto;
    }

    @media screen and (min-width: 767px) {
      width: 4.5rem;
      height: 4.5rem;

      bottom: 3rem;
      right: 3rem;

      img {
        width: unset;
        height: unset;
      }
    }
  }
}

// Sidebar styles
@import '/src/app/sidebar/sidebar.component.scss';

// Dropdown
.trend-edit-content__dropdown {
  .p-dropdown {
    width: 100%;
    border: 0.6px solid $secondary-accent;
    border-radius: 0.188rem;

    &-label {
      color: $font-color-dark;
      font-size: 0.875rem;
      padding-left: 1rem;
    }

    &:not(.p-disabled) {
      &:hover {
        border-color: $primary;
      }

      &.p-focus {
        border-color: $primary;
        box-shadow: none;
      }
    }
  }
}
